dd:not(:last-child) {
  margin-bottom: 1.5em;
}
dd {
  font-weight: lighter;
}
dt {
  font-weight: 500;
}
ul {
  list-style: none;
}

.course:not(:last-child)  {
  padding-bottom: 0em;
}

a {
  color: #3273dc;
}

.cvitem:not(:last-child) {
  margin-bottom: 1.5em;
}

p::selection, h1::selection, ::selection {
  color: #235ebc;
  background-color: #dbe8ff;
}

/*
 * Heading line taken from UIKit
 */
.uk-heading-line {
  /*text-align: center;*/
  text-indent: .5em;
  overflow: hidden;
}
.uk-heading-line span {
  font-stretch: expanded;
  font-size: 90%;
  font-weight:200;
  text-transform: uppercase;
}
.uk-heading-line span::first-letter {
    /*font-weight: 300;*/
}
.uk-heading-line > * {
  display: inline-block;
  position: relative;
}
.uk-heading-line > :before,
.uk-heading-line > :after {
  content: "";
  /* 1 */
  position: absolute;
  top: calc(50% - (1px / 2));
  /* 2 */
  width: 2000px;
  /* 3 */
  border-bottom: 1px solid #e5e5e5;
}
.uk-heading-line > :before {
  right: 100%;
  margin-right: 0.0em;
}
.uk-heading-line > :after {
  left: 100%;
  margin-left: 0.6em;
}

.timeline {
  float: left;
}
.timeline-bar {
  border-left: 0.1rem dashed #dbdbdb;
  color: transparent;
  line-height: 5em;
  margin-left: 10px;
  padding-bottom: 0em;
}
