<div class="content">
  <h1 class="headline">
    <span>
      <span class="icon">
        <i class="fa fa-briefcase"></i>
      </span>{{$t("message.experience")}}
    </span>
  </h1>
  <div class="cvitem" v-for="employ in employment.items">
    <article class="media">
      <div class="media-left">
        <TimelineView :start="employ.start" :end="employ.end"></TimelineView>
      </div>
      <div class="media-content">
        <div class="content">

          <p class="title is-4 ">{{employ.name}}
          <a class="icon fa fa-link" :href="employ.website"></a></p>
          <p class="subtitle">{{employ.position}}</p>
          <p class="has-text-justified">{{employ.description}}</p>
          

          <p class="headline activity-headline" v-on:click="toggleActivities(index)"><span><span class="icon">
            <i class="fa fa-arrow-down"></i>
          </span> Activies</span></p>

  <transition
    name="activity-transition"
    enter-active-class="animated fadeInDown"
    leave-active-class="animated fadeOutUp"
    >
    <div v-show="isVisible(index)">
      <dl class="activity" v-for="activity in employ.activity">
      <dt><span>{{activity.name}}</span> <span class="has-text-weight-light">{{activity.number}}</span></dt>
      <dd class="activity-detail has-text-justified">{{activity.description}}</dd>
    </dl>
  </div>
  </transition>


        </div>
      </div>
    </article>
  </div>
</div>
